<!--Acerca de mi-->
<section class="acercademi">
    <div class="container text-center mt-5">
      <h5 class="text-center aling-center sobremi"> Desarrolladora Full Stack Jr. Me destaco por el interés en nuevas tecnologías. Aspiro a desplegar mis conocimientos prácticos de los lenguajes de programación. Mi meta es dedicarme de lleno a esta profesión para fortalecer mis conocimientos.<br>Vivo en Luján de Cuyo-Mendoza. Actualmente estudio Tecnicatura Farmacéutica.<br> Me considero una persona responsable, proactiva, con alta capacidad de adaptación a las distintas modalidades de trabajo.<br>Hoy mi vida esta enfocada en la programación y en mi empredimiento de cosmética natural.</h5>
    </div>
  </section>