<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
      <div class="container mb-7">
        <form>
          <div class="my-3">
            <label for="educacionUno" class="form-label">Educación</label>
            <input class="form-control" type="file" id="educacionUno">
            <textarea class="form-control" id="educacionUno"></textarea>
          </div>
            <button type="button" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <div class="my-3">
              <label for="educacionDos" class="form-label"></label>
              <input class="form-control" type="file" id="educacionDos">
              <textarea class="form-control" id="educacionDos"></textarea>
            </div>
              <button type="button" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-warning">Actualizar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
              <div class="my-3">
                <label for="educacionTres" class="form-label"></label>
                <input class="form-control" type="file" id="educacionTres">
                <textarea class="form-control" id="educacionTres"></textarea>
              </div>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <label for="educacionUno" class="form-label"></label>
        </form>
      </div>
    </div>
  </div>