<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="list-habilidadesblandas" role="tabpanel" aria-labelledby="list-habilidadesblandas-list">
      <div class="container">
        <form>
          <div class="row">
          <div class="col-6 my-3">
            <label for="habilidadblandaUno" class="form-label">Habilidad Blanda</label>
            <textarea class="form-control" id="habilidadblandaUno"></textarea>
          </div>
          <div class="col-6 my-3">
            <label for="porcentajeCuatro" class="form-label">Porcentaje</label>
            <textarea class="form-control" id="porcentajeCuatro"></textarea>
          </div>
          </div>
            <button type="button" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <div class="row">
              <div class="col-6 my-3">
                <label for="habilidadblandaDos" class="form-label">Habilidad Blanda</label>
                <textarea class="form-control" id="habilidadblandaDos"></textarea>
              </div>
              <div class="col-6 my-3">
                <label for="porcentajeCinco" class="form-label">Porcentaje</label>
                <textarea class="form-control" id="porcentajeCinco"></textarea>
              </div>
              </div>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row">
                  <div class="col-6 my-3">
                    <label for="habilidadblandaTres" class="form-label">Habilidad Blanda</label>
                    <textarea class="form-control" id="habilidadblandaTres"></textarea>
                  </div>
                  <div class="col-6 my-3">
                    <label for="porcentajeSeis" class="form-label">Porcentaje</label>
                    <textarea class="form-control" id="porcentajeSeis"></textarea>
                  </div>
                  </div>
                    <button type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
          </form>
      </div>
    </div>
  </div>
