<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
      <div class="container">
        <form>
          <div class="row">
          <div class="col-6">
            <label for="habilidadUno" class="form-label">Habilidad</label>
            <textarea class="form-control" id="habilidadUno"></textarea>
          </div>
          <div class="col-6">
            <label for="porcentajeUno" class="form-label">Porcentaje</label>
            <textarea class="form-control" id="porcentajeUno"></textarea>
          </div>
          </div>
            <button type="button" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
            <div class="row">
              <div class="col-6 my-3">
                <label for="habilidadDos" class="form-label">Habilidad</label>
                <textarea class="form-control" id="habilidadDos"></textarea>
              </div>
              <div class="col-6 my-3">
                <label for="porcentajeDos" class="form-label">Porcentaje</label>
                <textarea class="form-control" id="porcentajeDos"></textarea>
              </div>
              </div>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="row">
                  <div class="col-6 my-3">
                    <label for="habilidadTres" class="form-label">Habilidad</label>
                    <textarea class="form-control" id="habiliadadTres"></textarea>
                  </div>
                  <div class="col-6 my-3">
                    <label for="porcentajeTres" class="form-label">Porcentaje</label>
                    <textarea class="form-control" id="porcentajeTres"></textarea>
                  </div>
                  </div>
                    <button type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-warning">Actualizar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
</div>