<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="list-proyectos" role="tabpanel" aria-labelledby="list-proyectos-list">
          <div class="container">
            <form>
              <div class="my-3">
                <label for="proyectoUno" class="form-label">Proyecto</label>
                <input class="form-control" type="file" id="proyectoUno">
                <textarea class="form-control" id="proyectoUno"></textarea>
                <input type="text" class="form-control" id="proyectoUno">
              </div>
                <button type="button" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
                <div class="my-3">
                  <label for="proyectoDos" class="form-label">Proyecto</label>
                  <input class="form-control" type="file" id="proyectoDos">
                  <textarea class="form-control" id="proyectoDos"></textarea>
                  <input type="text" class="form-control" id="proyectoDos">
                </div>
                  <button type="button" class="btn btn-success">Guardar</button>
                  <button type="button" class="btn btn-warning">Actualizar</button>
                  <button type="button" class="btn btn-danger">Eliminar</button>
            </form>
          </div>
        </div>
      </div> 