 <!-- Proyectos -->
 <section class="proyectos">
    <div class="container proyectos ">
      <h4 class="formacion20 mt-5 titulo20 text-white text-center">Proyectos</h4>
      <div class="container text-center">
        <div class="row">
          <div class="col mt-5">
            <a href="https://github.com/JohanaMarquez/PortfolioFrontend"> <img src="assets/images/imagen portfolio.jpg" width="150" class="rounded"></a>
          <h5 class="text-center mt-5">El proyecto tiene como finalidad la creación de un portfolio web que permitirá la inconporación al mundo laboral, poniendo enfásis en las habilidades adquirida en el proyecto Argentina Programa 4.0.</h5>
          </div>
          <div class="col mt-5">
            <a href="https://www.facebook.com/profile.php?id=100090761845881"> <img src="assets/images/imagengemma.jpg" width="128" class="rounded"></a>
          <h5 class="text-center mt-5">El proyecto tiene como finalidad la creación de una página digital de mi emprendimiento para fomentar la venta nacional a través de la web.</h5>
          </div>
         </div>
      </div>
    </div>
   </section>