h4.experiencia {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5.grido {
    padding-top: 5%;
    padding-right: 2%;
}
h5.anastasio {
    padding-top: 6%;
    padding-right: 2%;
}
.titulo1 {
    background-color: #503939;
}