<section class="habilidades">
    <div class="text-center mt-5">
      <h4 class="formacion titulo10 text-white">Habilidades</h4>
      <div class="container text-center">
        <div class="row">
          <div class="col mt-5">
            <h5>HTML</h5>
          <div class="porcentaje">
            <svg class="HTML">
              <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
              <circle r="65" cx="50%" cy="50%" pathlength="100"/>
             </svg>
             <h6>75%</h6>
          </div>
          </div>
          <div class="col mt-5">
            <h5>CSS</h5>
          <div class="porcentaje1">
            <svg class="HTML">
              <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
              <circle r="65" cx="50%" cy="50%" pathlength="100"/>
            </svg>
            <h6>70%</h6>
          </div>
          </div>
          <div class="col mt-5">
            <h5>ANGULAR</h5>
          <div class="porcentaje2">
            <svg class="HTML">
              <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
              <circle r="65" cx="50%" cy="50%" pathlength="100"/>
            </svg>
            <h6>50%</h6>
          </div>
          </div>
        </div>
      </div>
        <h4 class="experiencia mt-5 text-white titulo10">Habilidades blandas</h4>
        <div class="container text-center">
          <div class="row">
            <div class="col mt-5">
              <h5>Responsabilidad</h5>
            <div class="porcentaje3">
             <svg class="HTML">
                <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
                <circle r="65" cx="50%" cy="50%" pathlength="100"/>
             </svg>
            <h6>100%</h6>
            </div>
            </div>
            <div class="col mt-5">
              <h5>Trabajo en equipo</h5>
            <div class="porcentaje4">
              <svg class="HTML">
                <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
                <circle r="65" cx="50%" cy="50%" pathlength="100"/>
              </svg>
              <h6>90%</h6>
            </div>
            </div>
            <div class="col mt-5">
              <h5>Adaptabilidad</h5>
            <div class="porcentaje5">
              <svg class="HTML">
                <circle r="65" cx="50%" cy="50%" pathlength="100" class="GRIS"/>
                <circle r="65" cx="50%" cy="50%" pathlength="100"/>
              </svg>
            <h6>85%</h6>
            </div>
            </div>
          </div>
    </div>
      