<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="list-experiencia" role="tabpanel" aria-labelledby="list-experiencia-list">
      <div class="container">
      <form>
        <div class="my-3">
          <label for="experienciaUno" class="form-label">Experiencia Laboral</label>
          <input class="form-control" type="file" id="experienciaUno">
          <textarea class="form-control" id="experienciaUno"></textarea>
        </div>
          <button type="button" class="btn btn-success">Guardar</button>
          <button type="button" class="btn btn-warning">Actualizar</button>
          <button type="button" class="btn btn-danger">Eliminar</button>
          <div class="my-3">
            <label for="experienciaDos" class="form-label"></label>
            <input class="form-control" type="file" id="experienciaDos">
            <textarea class="form-control" id="experienciaDos"></textarea>
          </div>
            <button type="button" class="btn btn-success">Guardar</button>
            <button type="button" class="btn btn-warning">Actualizar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
      </form>
    </div>
    </div>
    </div>
