 <!--Formación Académica-->
 <section class="formacionacademica">
    <div class="text-center mt-5">
    <h4 class="formacion titulo text-white">Formación Académica</h4>
    <div class="container text-center">
      <div class="row">
        <div class="col-7 mt-5">
          <h5 class="anastasio">En el presente año me encuentro cursando el tercer semestre de la Tecnicatura en Farmacia.</h5>
        </div>
        <div class="col-5 mt-5">
          <img src="../../../assets/images/logo esapa.jpg" class="rounded" width="150">
        </div>
        
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-7 mt-5">
          <h5 class="aprendiendo">Culminé los cursos de computación y dactilografía. </h5>
        </div>
        <div class="col-5 mt-5">
          <img src="../../../assets/images/logo la bancaria.jpg" class="rounded" width="150">
        </div>
        
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col-7 mt-5">
          <h5 class="aprendiendo">Egresé con el título de humanidades con orientación en educación </h5>
        </div>
        <div class="col-5 mt-5">
          <img src="../../../assets/images/logo escuela francisco correas.jpg" class="rounded" width="150">
        </div>
     </div>
     
  